<div class="wrap">

	<div class = "container">
		<div class="col-md-5">
			<div class="top-text">
				<h1 class="text-left big-name"> Alejandra <br> Reynoso </h1>
				<h2 class="text-left subhead"> voice actor. </h2>
			</div>
		</div>
		<div class="col-md-6">
			<%= image_tag("black_and_white.png", alt: "alejandra", class: "hero") %>
		</div>
	</div> <!-- container -->

	<div class="grey-block col-md-12">
		<div class="about">
			<h1 class="text-center">about</h1>
			<div class="col-md-4 col-md-offset-2 small-font">
				<p> Alejandra is a voice actor in Los Angeles, CA. She is awesome and can do pretty much anything. She graduated from Stanford University with a degree in Communication and Media Studies, and a minor in Japanese. </p>
				<p> She enjoys doing creative things, like making YouTube videos, drawing, writing, and doing production design and costuming for photoshoots. </p>
			</div>
			<div class="col-md-4 small-font">
				<p> Alejandra is the coolest person ever, and will be successful no matter what. She works super hard and is incredibly diligent and determined. </p>
				<p> She can't wait to see where this next year will take her and looks forward to all the adventures to come. </p>
			</div>
		</div>
	</div>

</div> <!-- wrap -->